:local(.wrapper) {
}

:local(.content) {
  display: block;

  > div {
    padding-top: 1em;

    &::first-letter {
      font-family: "minster", Helvetica, Arial, serif;
      font-size: 3em;
    }

    h1 {
      padding-left: 1em;
      padding-right: 1em;
      padding-bottom: 0.5em;
    }

    h2 {
      padding-left: 2em;
      padding-right: 2em;
    }

    p {
      overflow: hidden;

      display: block;
      padding-left: 2em;
      padding-right: 2em;
    }

    ul {
      margin-left: 2em;
      margin-right: 2em;
    }

    li {
      list-style-type: lower-roman;
    }

    blockquote {
      white-space: pre-wrap;
      text-align: center;
    }
  }
}

:local(.imageWrapper) {
  display: block;
  position: relative;

  height: 30vw;

  margin-right: -2em;
  margin-left: -2em;

  img {
    transform: translateY(~"calc(-0.1 * var(--scroll))");

    width: 100%;
  }
}


:local(.imageInner) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
