:local(.content) {
  display: block;

  > div {
    color:#555;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    &::first-letter {
      font-family: "minster", Helvetica, Arial, serif;
      font-size: 3em;
    }

    h1 {
      padding-left: 1em;
      padding-right: 1em;
      padding-bottom: 0.5em;
      display: inline-flex;
      align-items: center;
      &::before, &::after {
        content: "";
        height: 2px;
        flex: 1;
        opacity: 0.1;
        background-color: currentColor;
      }
      &::before {
        margin-right: 1em;
      }
      &::after {
        margin-left: 1em;
      }
      &::first-letter {
        font-family: "minster", Helvetica, Arial, serif;
        font-size: 3em;
      }
    }

    h2 {
      padding-left: 1.3em;
      padding-right: 1.3em;

      display: inline-flex;
      align-items: center;

      &::before {
        content: "";
        margin-right: 1em;
        height: 0;
        width: 4em;
        opacity: 0.1;
        border-top: 4px currentColor dotted;
      }
      span {
        flex: 1
      }
    }

    p {
      overflow: hidden;

      display: block;
      padding-left: 17em;
      padding-right: 17em;
    }

    ul {
      margin-left: 17em;
      margin-right: 17em;
    }

    li {
      list-style-type: disc;
    }

    blockquote {
      white-space: pre-wrap;
      text-align: center;

      &::first-letter {
        font-family: "minster", Helvetica, Arial, serif;
        font-size: 3em;
      }
    }
  }
}

:local(.imageWrapper) {
  display: block;
  position: relative;

  height: 20vw;

  margin-right: -17em;
  margin-left: -17em;

  img {
    transform: translateY(~"calc(-0.2 * var(--scroll))");
    box-shadow: 0px -5px 2px 7px black;

    width: 100%;
  }
}


:local(.imageInner) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
