@colorAll: #B71C1C;
@colorGite: #004D40;
@colorChambresHotes: #E65100;
@colorHotel: #0D47A1;

:local(.wrapper) {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

:local(.lodgingList) {
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;

  height: 555px;
  overflow: auto;
}
:local(.lodgingElement) {
  padding: 0.5em 1em;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;

  cursor: pointer;
  transition: background-color ease 300ms;

  p {
    margin-left: 1em;
    font-size: 0.7em;
    color: #9E9E9E;
  }
}

:local(.lodgingAll):local(.activeClass),
:local(.lodgingAll):hover {
  border-bottom-color: @colorAll;
  background-color: lighten(@colorAll, 50%);
}
:local(.lodgingGite):local(.activeClass),
:local(.lodgingGite):hover {
  border-bottom-color: @colorGite;
  background-color: lighten(@colorGite, 70%);
}
:local(.lodgingChambresHotes):local(.activeClass),
:local(.lodgingChambresHotes):hover {
  border-bottom-color: @colorChambresHotes;
  background-color: lighten(@colorChambresHotes, 50%);
}
:local(.lodgingHotel):local(.activeClass),
:local(.lodgingHotel):hover {
  border-bottom-color: @colorHotel;
  background-color: lighten(@colorHotel, 60%);
}

:local(.lodgingGite):local(.elementActiveClass),
:local(.lodgingGite):hover {
  border-left-color: @colorGite;
  border-right-color: @colorGite;
  background-color: lighten(@colorGite, 70%);
}
:local(.lodgingChambresHotes):local(.elementActiveClass),
:local(.lodgingChambresHotes):hover {
  border-left-color: @colorChambresHotes;
  border-right-color: @colorChambresHotes;
  background-color: lighten(@colorChambresHotes, 50%);
}
:local(.lodgingHotel):local(.elementActiveClass),
:local(.lodgingHotel):hover {
  border-left-color: @colorHotel;
  border-right-color: @colorHotel;
  background-color: lighten(@colorHotel, 60%);
}


:local(.tabsClass) {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style-type: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

:local(.tabClass) {
  cursor: pointer;
  padding: 0.5em 1em;
  flex-grow: 1;
  transition: background-color ease 300ms;
  border-bottom: 2px solid transparent;
}


:local(.propertyClass) {
  font-size: 0.8em;
  color: #616161;
  margin-right: 0.2em;
}
