:local(.wrapper) {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

:local(.lodgingList) {
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;

  li {
    padding: 0.5em 1em;

    cursor: pointer;
    transition: background-color ease 300ms;

    &:hover {
      background-color: #FFEBEE;
    }

    p {
      margin-left: 1em;
      font-size: 0.7em;
      color: #9E9E9E;
    }
  }
}
:local(.tabsClass) {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style-type: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  li {
    cursor: pointer;
    padding: 0.5em 1em;
    flex-grow: 1;

    transition: background-color ease 300ms;

    &:hover {
      background-color: #FFEBEE;
    }
  }
}

:local(.propertyClass) {
  font-size: 0.8em;
  color: #616161;
}
:local(.activeClass) {
  border-bottom: 1px solid #a32825;
}
