body {
  margin: 0;
  // background-color: #ECCA8A;
  background-color: #ecdaaa;

  transition: opacity ease-in 0.2s;
}

@headerHeight: 250px;

:local(.className) {
  padding-top: @headerHeight;
  height: 1000px;

  font-size: 20px;
}
