@headerHeight: 20vw;
@logoHeight: 20vw;
@headerBg : #ffffff;

:local(.className) {
  z-index: 1;

  top: 0;
  left: 0;
  width: 100%;
  height: @headerHeight;
  color: #000;
  background-color: @headerBg;

  background:
    // linear-gradient(to right, rgba(255,0,0,0), rgba(255,255,255,1)),
    // linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,255,255,1)),

    linear-gradient(
      to bottom,
      rgba(237,237,237,0.42) 0%,
      rgba(245,245,245,0.8) 70%,
      rgba(255,255,255,0.95) 100%),
    url(/dist/public/bg/old-brown-vintage-parchment-paper-texture.jpg)
    no-repeat center center fixed;


  // background-size: contain cover;

  border-bottom: 1px solid #a32825;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);

  transition-duration: 0ms;
  transform-origin: left bottom;
}

:local(.logoWrapper) {
  position: relative;

  width: @logoHeight;

  transform: translateY(55px);
  transform-origin: left bottom;

  > div > * {
    height: @logoHeight;
  }
}

:local(.titleWrapper) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  transform-origin: left bottom;

  margin-left: 1em;
  flex: 1;

  h1 {
    font-family: "minster", Helvetica, Arial, serif;
    font-size: 7vw;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

:local(.contentContainer) {
  position: relative;
  width: 100%;
  height: 100%;
}

:local(.toolbar) {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0 16px;
  height: 100%;
}
