
@font-face {
  font-family: "minster";
  src: url('/dist/public/font/minster_regular.ttf');
}
@font-face {
  font-family: "minster";
  font-style: italic;
  src: url('/dist/public/font/minster_italic.ttf');
}
@font-face {
  font-family: "minster";
  font-weight: bold;
  src: url('/dist/public/font/minster_bold.ttf');
}
@font-face {
  font-family: "minster";
  font-weight: bold;
  font-style: italic;
  src: url('/dist/public/font/minster_bold_italic.ttf');
}
